<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Menu - Inicio</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="~/wwwroot/css/layoutBarStyle.css">

</head>
<body>
<!-- Barra lateral -->
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-sidebar icon'></i>
    <div class="logo_name">Inventario</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    
    <li>
      <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Panel</span>
      </a>
      <span class="tooltip">Panel</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">Usuarios</span>
      </a>
      <span class="tooltip">Usuarios</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-package'></i>
        <span class="links_name">Inventario</span>
      </a>
      <span class="tooltip">Inventario</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-category-alt'></i>
        <span class="links_name">Categorias</span>
      </a>
      <span class="tooltip">Categorias</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Configuraciones</span>
      </a>
      <span class="tooltip">Configuraciones</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <!-- Exportar imagen del usuario  -->
        <img src="#" alt="profileImg">
        <div class="name_job">
          <div class="name">Nombre de usuario</div>
          <div class="job">Puesto</div>
        </div>
      </div>
        <i class='bx bx-log-out' id="log_out"></i>
    </li>
  </ul>
</div>
<section class="home-section">

</section>

  <script  src="~/wwwroot/js/scriptLayoutBar.js"></script>

</body>
</html>
