@model InventorySystem.Core.Application.ViewModel.Usuario.LoginViewModel
@{
    ViewData["Title"] = "Recuperar Contraseña";
}
<link rel="stylesheet" href="~/css/ChangePassword.css" />

<div class="container" id="container">

    <div class="card">
        <form method="post" asp-controller="Usuarios" asp-action="ChangePassword">
            <div class="title-container">
                <div class="lock-icon">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="title">
                    ¿Olvidaste tu contraseña?<br>
                    Puedes recuperarla por aquí.
                </div>
            </div>
            <div class="form-container">
                <p>Email</p>
                <div class="input-with-icon">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="Email" type="email" placeholder="Correo Electrónico" required />
                </div>
                <button class="recover-btn">Recuperar contraseña</button>
                <a asp-controller="Usuarios" asp-action="Login" class="menu__link">Regresar al login</a>
            </div>
        </form>
    </div>


</div>
@if (!string.IsNullOrEmpty(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<script src="https://kit.fontawesome.com/c441659853.js" crossorigin="anonymous"></script>