@model InventorySystem.Core.Application.ViewModel.Usuario.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="~/css/site.css" />

<div class="container" id="container">
    <!-- Login -->
    <div class="form-container sign-in-container needs-validation">
        <form class="needs-validation" method="post" asp-controller="Usuario" asp-action="Login">
            <h1>Bienvenido al sistema de inventario</h1>
            <span>Iniciar Sesion</span>
            <div class="input-with-icon">
                <i class="fa-regular fa-user"></i>
                <input asp-for="Email" type="email" id="email" class="validationServer form-control" placeholder="Email" />
                <div id="emailFeedback" class="invalid-feedback">
                </div>
            </div>
            <div class="input-with-icon">
                <i><ion-icon name="lock-closed-outline"></ion-icon></i>
                <input asp-for="Password" type="password" class="validationServer form-control" id="password" placeholder="Contraseña" />
                <div id="passwordFeedback" class="invalid-feedback">
                </div>
            </div>
            <a asp-controller="Usuario" asp-action="ChangePassword" class="fun-pass">Olvidaste la contraseña?</a>
            <button id="submitButton" type="submit">Ingresar</button>
            <p>¿No tienes una cuenta? <a asp-controller="Negocio" asp-action="Create" id="signUp" class="fun-register">Regístrate!</a></p>
        </form>
    </div>
    <!-- Plantilla de contenedor  -->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <div class="image-container">
                    <img src="~/img/Spreadsheets-pana.png" alt="Imagen representativa del login">
                    @if (!string.IsNullOrEmpty(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @Html.Raw(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage)
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module" src="~/js/login.js"></script>