@model InventorySystem.Core.Application.ViewModel.Marca.MarcaSaveViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_LayoutBarAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/CreateDesign.css"/>
<div>
    <div>
        <div>
            <div class="main-container">
                <div class="h4-c">
                    <h4>@(editMode ? $"Editando la marca: {Model.Nombre}" : "Creando una nueva marca")</h4>
                </div>
                <div class="card">
                    <form method="post" asp-controller="Marca" asp-action="@(editMode ? "Edit":"Create")">
                        <div class="form-outline mb-4">
                            <input asp-for="Nombre" class="form-control form-control-lg"
                                   placeholder="Ingresar el nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" asp-for="Email" class="form-control form-control-lg"
                                   placeholder="Ingresar el email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" asp-for="Telefono" class="form-control form-control-lg"
                                   placeholder="Ingresar el Telefono" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button class="button-a"> <a asp-controller="Marca" asp-action="Index" class="btn btn-danger">Volver atras</a></button>

                    </form>

                </div>

            </div>
        </div>

    </div>
</div>