@model InventorySystem.Core.Application.ViewModel.Categoria.CategoriaSaveViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_LayoutBarAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/CreateDesign.css" />
<div >
    <div>
        <div >
            <div class="main-container">
                <div class="h4-c">
                    <h4>@(editMode ? $"Editando la categoria: {Model.Nombre}" : "Creando una nueva categoria")</h4>
                </div>
                <div class="card">
                    <form method="post" asp-controller="Categoria" asp-action="@(editMode ? "Edit":"Create")">
                        <div class="form-outline mb-4">
                            <input asp-for="Nombre" class="form-control form-control-lg"
                                   placeholder="Ingresar el nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                       
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button class="button-a"><a asp-controller="Categoria" asp-action="Index" class="btn btn-danger">Volver atras</a></button>

                    </form>



                </div>

            </div>
        </div>

    </div>
</div>
