@using InventorySystem.Core.Application.ViewModel.Negocio;
@model NegocioSaveViewModel;

@{
    ViewData["Title"] = "Create";

}

<link rel="stylesheet" href="~/css/site.css" />

<div class="container" id="container">
    <div class="form-container sign-in-container needs-validation">
        @if (!string.IsNullOrEmpty(ViewData.ModelState["Nombre"]?.Errors.FirstOrDefault()?.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @Html.Raw(ViewData.ModelState["Nombre"]?.Errors.FirstOrDefault()?.ErrorMessage)
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form class="needs-validation" asp-action="Create" asp-asp-controller="Negocio">
            <span>Registra tu negocio</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-with-icon">
                <i class="fa-regular fa-user"></i>
                <input asp-for="Nombre" type="text" placeholder="Nombre" class="validationServer form-control" id="nombre" aria-describedby="validationServer03Feedback" />
                <div id="nombreFeedback" class="invalid-feedback">
                </div>
            </div>
            <div class="input-with-icon">
                <i class="fa-regular fa-phone"></i>
                <input asp-for="Telefono" type="text" placeholder="Telefono" class="validationServer form-control" id="telefono" aria-describedby="validationServer03Feedback" />
                <div id="nombreFeedback" class="invalid-feedback">
                </div>
            </div>
            <div class="input-with-icon">
                <i class="fa-regular fa-adress"></i>
                <input asp-for="Direccion" type="text" placeholder="Direccion" class="validationServer form-control" id="direccion" aria-describedby="validationServer03Feedback" />
                <div id="nombreFeedback" class="invalid-feedback">
                </div>
            </div>
            <div class="input-with-icon">
                <i class="fa-regular fa-id-card"></i>
                <input asp-for="Email" type="email" id="email" class="validationServer form-control" placeholder="Email" />
                <div id="emailFeedback" class="invalid-feedback">
                </div>
            </div>
            <div class="input-with-icon">
                <button type="submit" id="submitButton" value="Continuar">Continuar</button>
            </div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <div class="image-container">

                    <img src="~/img/Sign up-rafiki.png" alt="Imagen representativa del login">
                    @if (!string.IsNullOrEmpty(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @Html.Raw(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage)
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(ViewData.ModelState["ConfirmPassword"]?.Errors.FirstOrDefault()?.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @Html.Raw(ViewData.ModelState["ConfirmPassword"]?.Errors.FirstOrDefault()?.ErrorMessage)
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>
                <a asp-controller="Usuario" asp-action="Login" class="inc registe" id="signIn">Iniciar Sesión</a>
            </div>

        </div>

    </div>

</div>

<script type="module" src="~/js/register.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
