@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');


body {
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.00) 82.81%, rgba(244, 239, 239, 0.30) 100%), linear-gradient(117deg, rgba(134, 134, 134, 0.30) 12.59%, rgba(241, 239, 239, 0.00) 65.86%), #E7EDED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: hsla(0, 0%, 100%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}


.card {
    width: 80%;
    max-width: 639px;
    height: 413px;
    background: #338B85;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: -20px 20px rgba(0, 0, 0, 0.4);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lock-icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

    .lock-icon i {
        color: #000;
        font-size: x-large
    }

.title {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    border-radius: 14px;
    border: none;
    width: 400px;
    height: 52px;
    padding-left: 45px;
    margin: 10px 0;
}

.input-with-icon {
    position: relative;
    display: inline-block;
}

    .input-with-icon i {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
    }

.recover-btn {
    margin-top: 20px;
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 12px 20px;
    border-radius: 14px;
    font-family: 'Fredoka', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 80%;
    height: 52px;
}

    .recover-btn:hover {
        transform: scale(0.95);
    }

p {
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 100%;
    margin: 0;
    color: #ffffff;
}

a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0;
    width: 80%;
    text-align: center;
}

    a:hover {
        font-weight: bold;
    }

.menu__link {
    color: #fff;
    line-height: 2;
    position: relative;
}

    .menu__link::before {
        content: '';
        width: 0;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -.25rem;
        left: 50%;
        transition: width .4s, left .4s;
    }

    .menu__link:hover::before {
        width: 100%;
        left: 0;
    }
