table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 13px;
}

th, td {
    text-align: left;
    padding: 16px;
}

th {
    background-color: #E0ECED;
}

p a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 24px;
    color: #348C9F;
}
p{
    margin-top: 1rem;
}
p a:hover {
    color: rgba(81, 130, 137, 1);
}

.a-txt {
    position: relative;
    bottom: 4px;
}
.create {
    margin-top: 1rem;
}
button {
    background-color: #E0ECED;
    color: black;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 10.8px;
    width: 5rem;
    margin-left: 2px;
}
button:hover {
    background-color: #1F4C62;
    color: white;
    font-size: 11.0px;
}
button a{
    text-decoration: none;
    color: black;
}
button a:hover {
    color: white;
}